<!DOCTYPE html>
<html>

<head>
    <title>Trang Chủ</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/footer-style.css" />
</head>

<body>
    <div class="footer">
        <div class="f-fmain">
            <div class="f-fcontain">
                <div class="f-box1">
                    <div class="f-logo">
                        <img src="/images/logo.PNG" height="100px" width="135px">
                    </div>
                    <div class="f-intro">
                        <p>Chào mừng bạn đến với diễn đàn chia sẽ kinh nghiệm nuôi dạy chăm sóc con của các bậc cha mẹ.</p>
                    </div>
                </div>
                <div class="f-box2">
                    <div class="f-box2-title">
                        <b>Lưu ý người dùng</b>
                    </div>
                    <div class="f-box2-item">
                        <ul>
                            <li><a>Quy định diễn đàn</a></li>
                            <li><a>Chính sách riêng tư</a></li>
                        </ul>
                    </div>
                </div>
                <div class="f-box3">
                    <div class="f-box3-title">
                        <b>Liên hệ</b>
                    </div>
                    <div class="f-box3-item">
                        <div class="f-box3-contact">
                            <p>Số 12 Nguyễn Văn Bảo, Phường 4, Gò Vấp, TP.HCM</p>
                            <img src="/images/footer-sdt.jpg" height="15px" width="15px"> Phone : 0979797979
                            <br><img src="/images/footer-email.png" height="15px" width="15px"> Email : toiyeugiadinh@gmail.com
                        </div>
                        <div class="f-box3-social">
                            Follow us
                            <br>
                            <a href="https://www.facebook.com/T%C3%B4i-Y%C3%AAu-Gia-%C4%90%C3%ACnh-105758044535625/?modal=admin_todo_tour"><img src="/images/footer-fb.png" height="40px" width="40px"></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="f-fbottom">
            Copyright © 2020 - Phát triển bởi Nhóm 19 Đồ Án Tốt Nghiệp 2019-2020 - ĐHCN TP.HCM
        </div>
    </div>
    <!-- <footer>
        <div class="f-ffooter">

        </div>
        <div class="f-fbottom">
            
        </div>
    </footer> -->
    <!--  -->
</body>


</html>